#page-container {
    width: 760px;
    margin: auto;
    background: rgb(248, 164, 158);
    text-align: left;
}
#header { 
background: rgb(146, 236, 217); 
height: 150px; 
} 
#content { 
background: rgb(231, 240, 105); 
} 
#footer { 
background: rgb(243, 155, 255); 
height: 66px; 
} 