#page-container {
    width: 760px;
    margin: auto;
    background: red;
    text-align: left;
}
#header { 
background: rgb(93, 206, 181); 
height: 150px; 
} 
#content { 
background: rgb(231, 240, 105); 
} 
#footer { 
background: rgb(243, 155, 255); 
height: 66px; 
} 